.nav-sidebar li.active > a,
.nav-sidebar li > a:hover {
    border-color: #dfd7ca;
}

.nav-sidebar > li.active > a,
.nav-sidebar > li.active > a:hover,
.nav-sidebar > li.active > a:focus {
    color: #98978b;
    background-color: #f8f5f0;
}

.nav-sidebar li > a {
    border: 1px solid transparent;
}

.nav-sidebar > li > a {
    border-radius: 4px;
}

.nav-sidebar li {
    line-height: 13px;
}

.highlight {
    background: #a9a5fd; color:#000;
    box-shadow:5px 0 0 #5d97fd, -5px 0 0 #5d97fd;
    padding: 5px 0;
}
